.center-container {
  width: 100%; /* take full width of its parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* Allow it to grow and consume available space */
}
.rectangle {
  width: 800px;
  max-height: 80%;
  background: #B5BAB6;
  padding: 60px;
  margin: 0 20px; /* Adding side margins */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.body {
  font-family: Outfit;
  background-color:  #B5BAB6;
  margin: 0;
  padding: 0;
}

.welcome {
  width:110%;
  background-image: url('/assets/graphics/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 150px;
  margin-top:-55px;
  /* align-items: center; */
}
.welcome h1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 242, 0.5);
  color:#222E50;
  height: 150px;
  text-shadow: -1px 0 #f7f7f2, 0 1px #f7f7f2, 1px 0 #f7f7f2, 0 -1px #f7f7f2;
  /* border-color: #F05D23; */

}

.faq-container{
  background-color: rgba(247, 247, 242, 0.5);
  border-radius: 5px;
  /* padding: 5px; */
}

.faq {
  font-size: 18px;
  color: #F05D23;  /* Green text color */
  margin: 10px 10px;  /* Space at the top and bottom */
  text-align: center; /* As per your request */
 /* Complimentary serif font */
  align-self: flex-start; /* this will align the section to listen to this container and not info above */
}

.faq h2 {
  font-size: 24px;
  color: #f05d23;
  margin-bottom: 10px;
  background-color: #F7F7F2;
  border-radius: 5px;
  padding: 5px;
}


#answer {
  font-size: 18px;
  text-align: left;
  max-width: 90%;  /* maintain consistency with intro-text */
  color: #333;     /* Dark gray text for readability */
  line-height: 1.5; /* Spacing between lines */
  font-family: 'Outfit', sans-serif; /* Consistency in font family */
}

#factElement {
  color: #222E50;
  margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-align: center;
}

#RandomFact {
  color: #222E50; 
  margin-bottom: -10px;
  text-align: center;
}

.gcse-search {
  text-align: center;
  margin: 20px;
}