<div class="center-container">
    <div class="rectangle">
      <!-- <img src='/assets/graphics/banner.jpg' alt="banner"> -->
            <div class = "welcome">
              
                <h1>My Home Page</h1>
            </div>
            <!-- <div class="profile-link">
                <button (click)="navigateToProfile()">My Profile</button>    
                <button (click)="navigateToProfessionals()">View Care Professionals</button>             
            </div> -->
        

    <!-- Diplay Links to pet profiles -->
    <!-- Needs: 
    Router links to individual profile for each user
    router link to add new pet page -->
    <div class="pet-card-container">
      <div *ngFor="let pet of pets" class="pet-card">
        <div class="pet-info">
          <p class="pet-img">{{pet.emoji}}</p>
        </div>
        <div class="pet-button-container">
          <button class="pet-button" (click)="openPetDetailModal(pet)">{{ pet.petName }}</button>
        </div>
      </div>
    </div>
    <button class= "add-button"(click)="openAddPetModal()">Add New Pet</button>


    <!-- <h4><a  class="pet-card" (click)="openAddPetModal()">Add New Pet!</a></h4> -->

    <!-- Upcoming Events Section
    Needs: 
    List upcoming events for a user within a time frame-- if none say "No events to show"
    Link to Calendar at the bottom of the section -->
    <div class="page-bottom-container">
    <div class="events-container">
        <div class="events-list-container">
          <h4 class="events-header">Upcoming Events</h4>
          <ul class="event-list">
            <li *ngFor="let event of events">
                <span class="event-date">{{ event.start | date }}</span>
                <span class="event-title">{{ event.title }}</span>  
            </li>
          </ul>
        </div>
        <div class="calendar-button-container">
          <button class="calendar-link" (click)="navigateToCalendar()">Go To Calendar</button>
        </div>
      </div>

      <!-- Image Slider -->
      <div class="image-slider">
        <img *ngIf="imageUrls[currentImageIndex]" [src]="'data:image/jpeg;base64,' + imageUrls[currentImageIndex].data" alt="Pet Image">
      </div>
  </div>      


    </div>
</div>

    