/* FILEPATH: /C:/Users/delan/main-dev/petrax/petrax-frontend/src/app/image-gallery/image-gallery.component.css */
.center-container {
    width: 100%; /* take full width of its parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rectangle{
    width: 800px;
    max-height: 80%;
    background: #B5BAB6;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.welcome{
    width:110%;
    background-image: url('/assets/graphics/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    height: 150px;
    margin-top:-55px;
}
.welcome h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 247, 242, 0.5);
    color:#222E50;
    height: 150px;
    text-shadow: -1px 0 #f7f7f2, 0 1px #f7f7f2, 1px 0 #f7f7f2, 0 -1px #f7f7f2;
    /* border-color: #F05D23; */

}

button{
    background-color: #222E50;
    color: #F7F7F2;
    border: #F05D23 solid;
    border-radius: 5px;
    padding: 10px;
    display: inline-flex;
    cursor: pointer;
}
button:hover {
    background-color: #F05D23;
    color: #F7F7F2;
    border: #222E50 solid;
    border-radius: 5px;
    padding: 15px;
    display: inline-flex;
    cursor: pointer;
    transform: scale(1.05);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.image-gallery img {

    width: 200px;
    /* max-width: 300px; */
    height: 200px;
    object-fit: cover;
    margin:5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.image-gallery img:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    
    .center-container {
        align-items: center;
    }
    .rectangle {
        margin-top: -20px;
        width: 95%;
        padding: 20px;
    }

    .welcome{
        margin-top :10px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
        padding:5px;
    }
    .image-gallery img {
        width:250px;
        height: 250px;
    }

}